.banner {
    justify-content: center;
    padding-left: 20%;
}
.main {
    padding-top: 20%;
}
.event-info {
    padding-top: 15%;
    border: 1px solid blueviolet;
    padding-left: 20%;
    padding-right: 20%;
}